.advantages {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-bottom: 104px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 83px;
    border: none;
  }
}

.advantages__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 182px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 123px;
  }
}

.advantages__item {
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    color: $gray;
    z-index: -1;
  }
}

.advantages__item--one::before {
  @media (min-width: $tablet-width) {
    content: "1";
    top: -39px;
    right: 13%;
  }

  @media (min-width: $desktop-width) {
    right: -8%;
  }
}

.advantages__item--two::before {
  @media (min-width: $tablet-width) {
    content: "2";
    top: -37px;
    right: 7%;
  }

  @media (min-width: $desktop-width) {
    right: -15%;
  }
}

.advantages__item--three::before {
  @media (min-width: $tablet-width) {
    content: "3";
    top: -37px;
    right: 5%;
  }

  @media (min-width: $desktop-width) {
    right: -17%;
  }
}

.advantages__item--four::before {
  @media (min-width: $tablet-width) {
    content: "4";
    top: -37px;
    right: 6%;
  }

  @media (min-width: $desktop-width) {
    right: -15%;
  }
}

.advantages__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 31px;
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__image {
  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}
