.catalog {
}

.catalog__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin-top: 27px;
}

.catalog__products {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__product {
}

.catalog__image {
  max-width: 140px;
  max-height: 112px;
}

.catalog__name {
  &--more {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: $very-dark-gray;
    margin-bottom: 8px;
  }
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $very-dark-gray;
  width: 76px;
}

.catalog__button {
  &--more {
    border: none;
    background: $gray;
    color: $very-dark-gray;
    padding: 10px 94px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
  }
  font-family: "Oswald", sans-serif;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 109px;
  color: $white;
  background: $green;
}

.catalog__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $dark-gray;
}

.catalog__tr {
  display: flex;
  width: 138px;
  justify-content: space-between;
}

.catalog__td {
  &--right {
    text-align: right;
  }
}

.catalog__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $very-dark-gray;
  margin-bottom: 21px;
}
