.example {
  padding-top: 25px;
  padding-bottom: 46px;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    background: linear-gradient(#ffffff 56%, #eaeaea 44%);
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
    background: linear-gradient($white 28%, #eaeaea 0%);
  }
}

.example__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    margin-bottom: 148px;
  }
}

.example__text {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $dark-gray;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 99%;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    width: auto;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    gap: 78px;
    margin: 0;
    margin-left: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    gap: 42px;
    margin: 0;
    margin-bottom: 55px;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__item--weight {
  &::before {
    content: "";
    position: absolute;
    background: url("../img/weight-border.svg") no-repeat;
    background-size: contain;
    top: -14px;
    width: 124px;
    height: 56px;

    @media (min-width: $tablet-width) {
      width: 162px;
      height: 72px;
    }
  }
}

.example__item--days {
  &::before {
    content: "";
    position: absolute;
    background: url("../img/days-border.svg") no-repeat;
    background-size: contain;
    top: -14px;
    width: 124px;
    height: 56px;

    @media (min-width: $tablet-width) {
      width: 162px;
      height: 72px;
    }
  }
}

.example__number {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 13px;
  }
}

.example__options {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-right: 193px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 77px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__costs {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    text-align: left;
  }
}

.example__costs--sum {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 63px;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: start;
  }
}
