.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background: #eaeaea;
}

.example__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.example__text {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $dark-gray;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 35px;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 8px;
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 77px;
}

.example__costs {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;
}

.slider__button {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.slider__images {
  margin-bottom: 15px;
}

.slider__images--after {
  display: none;
}
