.example {
  padding-top: 25px;
  padding-bottom: 40px;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: none;
  }
}

.example__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.example__text {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $dark-gray;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__options {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-right: 193px;
  }
}

.example__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  width: 77px;

  @media (min-width: $tablet-width) {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
  }
}

.example__costs {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: left;
  }
}

.example__costs--sum {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-left: 63px;
  }
}

.example__wrapper {
  display: flex;
  align-items: start;
}
