.form-additional {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    margin-right: 103px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    margin-right: 0;
  }
}

.form-additional__heading {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }
}

.form-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 24px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    gap: 32px 132px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 61px;
  }
}

.form-additional__input {
  margin: 0;
  padding: 0;
  position: absolute;
  appearance: none;
}

.form-additional__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 59px;
  }
}

.form-additional__box {
  position: absolute;
  background: url("../img/checkbox-off.svg");
  width: 30px;
  height: 30px;
  margin-left: -46px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-left: -59px;
  }
}

.form-additional__input:checked + .form-additional__box {
  background: url("../img/checkbox-on.svg");

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.form-additional__input:focus + .form-additional__box {
  background: url("../img/checkbox-off-focus.svg");

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.form-additional__input:checked:focus + .form-additional__box {
  background: url("../img/checkbox-on-focus.svg");

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
}

.form-additional__button {
  border: none;
  background: $green;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  width: 100%;
  color: $white;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    width: 43%;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin-right: 81px;
  }
}

.form-additional__surely {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form-additional__item {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form-additional__submit {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
