.gift {
  background: url("../img/gift.jpg") no-repeat;
  padding-top: 65px;
  background-position: center center;
  padding-bottom: 43px;
  background-size: 100% auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: url("../img/gift_tablet.jpg") no-repeat;
    flex-direction: row;
    background-size: 100% auto;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 60px;
    margin-top: 69px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift_tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    background: url("../img/gift_desktop.jpg") no-repeat;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift_desktop@2x.jpg");
    }
  }
}

.gift__icon {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    margin-top: 41px;
    margin-bottom: 59px;
  }
}

.gift__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  width: 60%;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-right: 124px;
    width: 22%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 75%;
    margin-bottom: 45px;
  }
}
