.main-nav__container {
  position: absolute;
  left: 0;
  top: 65px;
  z-index: 10;
  width: 100%;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    margin: 0 -17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__toogle {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
  background: $white;

  @media (min-width: $tablet-width) {
    margin: 0 17px;
    width: auto;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  display: inline-block;

  @media (min-width: $desktop-width) {
    color: $white;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      opacity: 0.6;
    }
  }

  &:focus {
    @media (min-width: $tablet-width) {
      opacity: 0.3;
    }
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    text-decoration: 2px underline solid $green;
    text-underline-offset: 10px;
  }

  @media (min-width: $desktop-width) {
    text-decoration-color: $white;
  }
}

.main-nav__link--catalog {
  @media (min-width: $tablet-width) {
    color: $black;
    text-decoration-color: $green;
  }
}
