.page-header {
  padding-top: 10px;
  padding-bottom: 13px;
  background: $white;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    background: none;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.page-header--background .page-header__container {
  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 694px;
      right: 0;
      top: 0;
      background: url("../img/promo-bg-desktop.jpg") no-repeat;
      background-color: $green;
      background-size: cover;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-bg-desktop@2x.jpg");
    }
  }
}

.page-header--catalog {
  border-bottom: 1px solid $gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  width: 191px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
