.page-header {
  padding-top: 10px;
  padding-bottom: 17px;
  background: $white;
}

.page-header--catalog {
  border-bottom: 1px solid $gray;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  display: flex;
  width: 191px;
  justify-content: space-between;
  align-items: center;
}
