.page-header {
  padding-top: 10px;
  padding-bottom: 17px;
  background: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header--catalog {
  border-bottom: 1px solid $gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  display: flex;
  width: 191px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}
