.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  background: $gray;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.page-footer__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    border: none;
  }
}

.page-footer__social-media {
  padding: 20px 0;
  margin: 0 -18px;
  list-style-type: none;
  display: flex;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 21px;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
    margin-bottom: 0;
    width: auto;
  }
}

.page-footer__icon {
  fill: #666666;
}

.page-footer__icon:hover {
  fill: #68b738;
}

.page-footer__icon:active {
  opacity: 0.3;
}

.page-footer__icon--fb {
  stroke: #666666;
}

.page-footer__icon--fb:hover {
  stroke: #68b738;
}

.page-footer__icon--fb:active {
  opacity: 0.3;
}

.page-footer__item {
  margin: 0 18px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
  }
}

.page-footer__copyright--logo {
  fill: #666666;
}

.page-footer__copyright:hover .page-footer__copyright--logo {
  fill: #68b738;
}

.page-footer__copyright:focus {
  fill: #68b738;
  opacity: 0.3;
}

.page-footer__copyright--text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  margin-right: 10px;
}
