.personal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 3px;
  display: grid;
  gap: 13px;

  @media (min-width: $tablet-width) {
    border: none;
    gap: 20px;
  }
}

.personal__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $dark-gray;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 11px;
  }
}

.personal__input {
  flex-grow: 1;
  padding: 13px 0;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding: 11px 0;
  }

  &::placeholder {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    @media (min-width: $tablet-width) {
      padding-left: 19px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
