.promo {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  background: url("../img/promo-bg-mobile.jpg") no-repeat;
  background-position: center 0;
  background-size: 100% auto;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: none;
    margin: 0;
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    background: none;
    padding-bottom: 267px;
    display: block;
  }
}

.promo__heading {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 25px;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-top: 64px;
    margin-bottom: 41px;
    margin-left: 87px;
    width: 58%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    width: 34%;
  }
}

.promo__text {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background: $green;
  border: none;
  color: $white;
  width: 100%;
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 0;
    display: block;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.promo__image {
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    position: absolute;
    top: 352px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 45px;
    left: 40%;
    z-index: 1;
  }
}
