.slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-shrink: 0;
  }
}

.slider__button {
  margin: 0;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed #b2b2b2;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      border-bottom-style: solid;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.slider__images {
  width: 280px;
  height: 232px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    width: 592px;
    height: 511px;
  }
}

.slider__actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider__scale {
  height: 14px;
  border: 1px solid #cdcdcd;
  background: $white;
  width: 31%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  position: relative;
  margin: 0 13px;

  @media (min-width: $tablet-width) {
    width: 60%;
    background: none;
    border: none;
  }
}

.slider__bar {
  width: 50%;
  border-radius: 6px;
  background: $green;
  height: 6px;
  margin-left: 4px;

  @media (min-width: $tablet-width) {
    background: #dcdcdc;
    width: 100%;
  }
}

.slider__toggle {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: start;
    width: 34px;
    cursor: pointer;
    height: 34px;
    background: $green;
    border: 13px solid $white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #cdcdcd, 0 1px 8px rgba(0, 0, 0, 0.16);
  }
}
